build/MyPlugin_artefacts/VST3/SondyComp.vst3/Contents/Resources/moduleinfo.json
build/MyPlugin_artefacts/VST3/SondyComp.vst3/Contents/PkgInfo
build/MyPlugin_artefacts/VST3/SondyComp.vst3/Contents/MacOS/SondyComp
build/MyPlugin_artefacts/VST3/SondyComp.vst3/Contents/Info.plist
build/MyPlugin_artefacts/VST3/SondyComp.vst3/Contents/_CodeSignature/CodeResources
build/MyPlugin_artefacts/VST3/MyPlugin.vst3/Contents/Resources/moduleinfo.json
build/MyPlugin_artefacts/VST3/MyPlugin.vst3/Contents/PkgInfo
build/MyPlugin_artefacts/VST3/MyPlugin.vst3/Contents/MacOS/MyPlugin
build/MyPlugin_artefacts/VST3/MyPlugin.vst3/Contents/Info.plist
build/MyPlugin_artefacts/VST3/MyPlugin.vst3/Contents/_CodeSignature/CodeResources
build/MyPlugin_artefacts/libSondyComp_SharedCode.a
build/MyPlugin_artefacts/libMyPlugin_SharedCode.a
build/MyPlugin_artefacts/JuceLibraryCode/MyPlugin_VST3/PkgInfo
build/MyPlugin_artefacts/JuceLibraryCode/MyPlugin_VST3/Info.plist
build/MyPlugin_artefacts/JuceLibraryCode/MyPlugin_VST3.entitlements
build/MyPlugin_artefacts/JuceLibraryCode/Info.txt
build/MyPlugin_artefacts/JuceLibraryCode/Defs.txt
build/Makefile
build/juce_vst3_helper
build/JUCE/tools/modules/Makefile
build/JUCE/tools/modules/CMakeFiles/progress.marks
build/JUCE/tools/modules/CMakeFiles/CMakeDirectoryInformation.cmake
build/JUCE/tools/modules/cmake_install.cmake
build/JUCE/tools/Makefile
build/JUCE/tools/JUCEToolsExport.cmake
build/JUCE/tools/JUCEExportConfig.cmake
build/JUCE/tools/JUCEConfigVersion.cmake
build/JUCE/tools/JUCEConfig.cmake
build/JUCE/tools/extras/Build/Makefile
build/JUCE/tools/extras/Build/juceaide/Makefile
build/JUCE/tools/extras/Build/juceaide/juceaide_artefacts/JuceLibraryCode/Custom/Defs.txt
build/JUCE/tools/extras/Build/juceaide/juceaide_artefacts/Custom/juceaide
build/JUCE/tools/extras/Build/juceaide/CMakeFiles/progress.marks
build/JUCE/tools/extras/Build/juceaide/CMakeFiles/juceaide.dir/progress.make
build/JUCE/tools/extras/Build/juceaide/CMakeFiles/juceaide.dir/Main.cpp.o.d
build/JUCE/tools/extras/Build/juceaide/CMakeFiles/juceaide.dir/Main.cpp.o
build/JUCE/tools/extras/Build/juceaide/CMakeFiles/juceaide.dir/link.txt
build/JUCE/tools/extras/Build/juceaide/CMakeFiles/juceaide.dir/flags.make
build/JUCE/tools/extras/Build/juceaide/CMakeFiles/juceaide.dir/DependInfo.cmake
build/JUCE/tools/extras/Build/juceaide/CMakeFiles/juceaide.dir/depend.make
build/JUCE/tools/extras/Build/juceaide/CMakeFiles/juceaide.dir/compiler_depend.ts
build/JUCE/tools/extras/Build/juceaide/CMakeFiles/juceaide.dir/compiler_depend.make
build/JUCE/tools/extras/Build/juceaide/CMakeFiles/juceaide.dir/compiler_depend.internal
build/JUCE/tools/extras/Build/juceaide/CMakeFiles/juceaide.dir/cmake_clean.cmake
build/JUCE/tools/extras/Build/juceaide/CMakeFiles/juceaide.dir/build.make
build/JUCE/tools/extras/Build/juceaide/CMakeFiles/juceaide.dir/__/juce_build_tools/juce_build_tools.cpp.o.d
build/JUCE/tools/extras/Build/juceaide/CMakeFiles/juceaide.dir/__/juce_build_tools/juce_build_tools.cpp.o
build/JUCE/tools/extras/Build/juceaide/CMakeFiles/juceaide.dir/__/__/__/modules/juce_gui_basics/juce_gui_basics.mm.o.d
build/JUCE/tools/extras/Build/juceaide/CMakeFiles/juceaide.dir/__/__/__/modules/juce_gui_basics/juce_gui_basics.mm.o
build/JUCE/tools/extras/Build/juceaide/CMakeFiles/juceaide.dir/__/__/__/modules/juce_graphics/juce_graphics_Sheenbidi.c.o.d
build/JUCE/tools/extras/Build/juceaide/CMakeFiles/juceaide.dir/__/__/__/modules/juce_graphics/juce_graphics_Sheenbidi.c.o
build/JUCE/tools/extras/Build/juceaide/CMakeFiles/juceaide.dir/__/__/__/modules/juce_graphics/juce_graphics_Harfbuzz.cpp.o.d
build/JUCE/tools/extras/Build/juceaide/CMakeFiles/juceaide.dir/__/__/__/modules/juce_graphics/juce_graphics_Harfbuzz.cpp.o
build/JUCE/tools/extras/Build/juceaide/CMakeFiles/juceaide.dir/__/__/__/modules/juce_graphics/juce_graphics.mm.o.d
build/JUCE/tools/extras/Build/juceaide/CMakeFiles/juceaide.dir/__/__/__/modules/juce_graphics/juce_graphics.mm.o
build/JUCE/tools/extras/Build/juceaide/CMakeFiles/juceaide.dir/__/__/__/modules/juce_events/juce_events.mm.o.d
build/JUCE/tools/extras/Build/juceaide/CMakeFiles/juceaide.dir/__/__/__/modules/juce_events/juce_events.mm.o
build/JUCE/tools/extras/Build/juceaide/CMakeFiles/juceaide.dir/__/__/__/modules/juce_data_structures/juce_data_structures.mm.o.d
build/JUCE/tools/extras/Build/juceaide/CMakeFiles/juceaide.dir/__/__/__/modules/juce_data_structures/juce_data_structures.mm.o
build/JUCE/tools/extras/Build/juceaide/CMakeFiles/juceaide.dir/__/__/__/modules/juce_core/juce_core_CompilationTime.cpp.o.d
build/JUCE/tools/extras/Build/juceaide/CMakeFiles/juceaide.dir/__/__/__/modules/juce_core/juce_core_CompilationTime.cpp.o
build/JUCE/tools/extras/Build/juceaide/CMakeFiles/juceaide.dir/__/__/__/modules/juce_core/juce_core.mm.o.d
build/JUCE/tools/extras/Build/juceaide/CMakeFiles/juceaide.dir/__/__/__/modules/juce_core/juce_core.mm.o
build/JUCE/tools/extras/Build/juceaide/CMakeFiles/CMakeDirectoryInformation.cmake
build/JUCE/tools/extras/Build/juceaide/cmake_install.cmake
build/JUCE/tools/extras/Build/CMakeFiles/progress.marks
build/JUCE/tools/extras/Build/CMakeFiles/CMakeDirectoryInformation.cmake
build/JUCE/tools/extras/Build/cmake_install.cmake
build/JUCE/tools/CMakeFiles/VerifyGlobs.cmake
build/JUCE/tools/CMakeFiles/TargetDirectories.txt
build/JUCE/tools/CMakeFiles/progress.marks
build/JUCE/tools/CMakeFiles/Makefile2
build/JUCE/tools/CMakeFiles/Makefile.cmake
build/JUCE/tools/CMakeFiles/CMakeDirectoryInformation.cmake
build/JUCE/tools/CMakeFiles/CMakeConfigureLog.yaml
build/JUCE/tools/CMakeFiles/cmake.verify_globs
build/JUCE/tools/CMakeFiles/cmake.check_cache
build/JUCE/tools/CMakeFiles/3.31.4/CompilerIdCXX/CMakeCXXCompilerId.o
build/JUCE/tools/CMakeFiles/3.31.4/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/JUCE/tools/CMakeFiles/3.31.4/CompilerIdC/CMakeCCompilerId.o
build/JUCE/tools/CMakeFiles/3.31.4/CompilerIdC/CMakeCCompilerId.c
build/JUCE/tools/CMakeFiles/3.31.4/CMakeSystem.cmake
build/JUCE/tools/CMakeFiles/3.31.4/CMakeDetermineCompilerABI_CXX.bin
build/JUCE/tools/CMakeFiles/3.31.4/CMakeDetermineCompilerABI_C.bin
build/JUCE/tools/CMakeFiles/3.31.4/CMakeCXXCompiler.cmake
build/JUCE/tools/CMakeFiles/3.31.4/CMakeCCompiler.cmake
build/JUCE/tools/CMakeCache.txt
build/JUCE/tools/cmake_install.cmake
build/JUCE/modules/Makefile
build/JUCE/modules/CMakeFiles/progress.marks
build/JUCE/modules/CMakeFiles/CMakeDirectoryInformation.cmake
build/JUCE/modules/cmake_install.cmake
build/JUCE/Makefile
build/JUCE/JUCEExportConfig.cmake
build/JUCE/JUCEConfigVersion.cmake
build/JUCE/JUCEConfig.cmake
build/JUCE/extras/Build/Makefile
build/JUCE/extras/Build/juceaide/Makefile
build/JUCE/extras/Build/juceaide/CMakeFiles/progress.marks
build/JUCE/extras/Build/juceaide/CMakeFiles/CMakeDirectoryInformation.cmake
build/JUCE/extras/Build/juceaide/cmake_install.cmake
build/JUCE/extras/Build/CMakeFiles/progress.marks
build/JUCE/extras/Build/CMakeFiles/CMakeDirectoryInformation.cmake
build/JUCE/extras/Build/cmake_install.cmake
build/JUCE/CMakeFiles/progress.marks
build/JUCE/CMakeFiles/CMakeDirectoryInformation.cmake
build/JUCE/cmake_install.cmake
build/CMakeFiles/VerifyGlobs.cmake
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/progress.marks
build/CMakeFiles/MyPlugin_VST3.dir/progress.make
build/CMakeFiles/MyPlugin_VST3.dir/link.txt
build/CMakeFiles/MyPlugin_VST3.dir/JUCE/modules/juce_audio_plugin_client/juce_audio_plugin_client_VST3.mm.o.d
build/CMakeFiles/MyPlugin_VST3.dir/JUCE/modules/juce_audio_plugin_client/juce_audio_plugin_client_VST3.mm.o
build/CMakeFiles/MyPlugin_VST3.dir/JUCE/modules/juce_audio_plugin_client/juce_audio_plugin_client_VST2.mm.o.d
build/CMakeFiles/MyPlugin_VST3.dir/JUCE/modules/juce_audio_plugin_client/juce_audio_plugin_client_VST2.mm.o
build/CMakeFiles/MyPlugin_VST3.dir/JUCE/modules/juce_audio_plugin_client/juce_audio_plugin_client_Unity.cpp.o.d
build/CMakeFiles/MyPlugin_VST3.dir/JUCE/modules/juce_audio_plugin_client/juce_audio_plugin_client_Unity.cpp.o
build/CMakeFiles/MyPlugin_VST3.dir/JUCE/modules/juce_audio_plugin_client/juce_audio_plugin_client_Standalone.cpp.o.d
build/CMakeFiles/MyPlugin_VST3.dir/JUCE/modules/juce_audio_plugin_client/juce_audio_plugin_client_Standalone.cpp.o
build/CMakeFiles/MyPlugin_VST3.dir/JUCE/modules/juce_audio_plugin_client/juce_audio_plugin_client_LV2.mm.o.d
build/CMakeFiles/MyPlugin_VST3.dir/JUCE/modules/juce_audio_plugin_client/juce_audio_plugin_client_LV2.mm.o
build/CMakeFiles/MyPlugin_VST3.dir/JUCE/modules/juce_audio_plugin_client/juce_audio_plugin_client_AUv3.mm.o.d
build/CMakeFiles/MyPlugin_VST3.dir/JUCE/modules/juce_audio_plugin_client/juce_audio_plugin_client_AUv3.mm.o
build/CMakeFiles/MyPlugin_VST3.dir/JUCE/modules/juce_audio_plugin_client/juce_audio_plugin_client_AU_2.mm.o.d
build/CMakeFiles/MyPlugin_VST3.dir/JUCE/modules/juce_audio_plugin_client/juce_audio_plugin_client_AU_2.mm.o
build/CMakeFiles/MyPlugin_VST3.dir/JUCE/modules/juce_audio_plugin_client/juce_audio_plugin_client_AU_1.mm.o.d
build/CMakeFiles/MyPlugin_VST3.dir/JUCE/modules/juce_audio_plugin_client/juce_audio_plugin_client_AU_1.mm.o
build/CMakeFiles/MyPlugin_VST3.dir/JUCE/modules/juce_audio_plugin_client/juce_audio_plugin_client_ARA.cpp.o.d
build/CMakeFiles/MyPlugin_VST3.dir/JUCE/modules/juce_audio_plugin_client/juce_audio_plugin_client_ARA.cpp.o
build/CMakeFiles/MyPlugin_VST3.dir/JUCE/modules/juce_audio_plugin_client/juce_audio_plugin_client_AAX_utils.cpp.o.d
build/CMakeFiles/MyPlugin_VST3.dir/JUCE/modules/juce_audio_plugin_client/juce_audio_plugin_client_AAX_utils.cpp.o
build/CMakeFiles/MyPlugin_VST3.dir/JUCE/modules/juce_audio_plugin_client/juce_audio_plugin_client_AAX.mm.o.d
build/CMakeFiles/MyPlugin_VST3.dir/JUCE/modules/juce_audio_plugin_client/juce_audio_plugin_client_AAX.mm.o
build/CMakeFiles/MyPlugin_VST3.dir/flags.make
build/CMakeFiles/MyPlugin_VST3.dir/DependInfo.cmake
build/CMakeFiles/MyPlugin_VST3.dir/depend.make
build/CMakeFiles/MyPlugin_VST3.dir/compiler_depend.ts
build/CMakeFiles/MyPlugin_VST3.dir/compiler_depend.make
build/CMakeFiles/MyPlugin_VST3.dir/compiler_depend.internal
build/CMakeFiles/MyPlugin_VST3.dir/cmake_clean.cmake
build/CMakeFiles/MyPlugin_VST3.dir/build.make
build/CMakeFiles/MyPlugin_All.dir/progress.make
build/CMakeFiles/MyPlugin_All.dir/DependInfo.cmake
build/CMakeFiles/MyPlugin_All.dir/compiler_depend.ts
build/CMakeFiles/MyPlugin_All.dir/compiler_depend.make
build/CMakeFiles/MyPlugin_All.dir/cmake_clean.cmake
build/CMakeFiles/MyPlugin_All.dir/build.make
build/CMakeFiles/MyPlugin.dir/Source/WavetableEditor.cpp.o.d
build/CMakeFiles/MyPlugin.dir/Source/WavetableEditor.cpp.o
build/CMakeFiles/MyPlugin.dir/Source/PluginProcessor.cpp.o.d
build/CMakeFiles/MyPlugin.dir/Source/PluginProcessor.cpp.o
build/CMakeFiles/MyPlugin.dir/Source/PluginEditor.cpp.o.d
build/CMakeFiles/MyPlugin.dir/Source/PluginEditor.cpp.o
build/CMakeFiles/MyPlugin.dir/Source/GainReductionMeter.cpp.o.d
build/CMakeFiles/MyPlugin.dir/Source/GainReductionMeter.cpp.o
build/CMakeFiles/MyPlugin.dir/Source/Compressor.cpp.o.d
build/CMakeFiles/MyPlugin.dir/Source/Compressor.cpp.o
build/CMakeFiles/MyPlugin.dir/progress.make
build/CMakeFiles/MyPlugin.dir/link.txt
build/CMakeFiles/MyPlugin.dir/JUCE/modules/juce_gui_extra/juce_gui_extra.mm.o.d
build/CMakeFiles/MyPlugin.dir/JUCE/modules/juce_gui_extra/juce_gui_extra.mm.o
build/CMakeFiles/MyPlugin.dir/JUCE/modules/juce_gui_basics/juce_gui_basics.mm.o.d
build/CMakeFiles/MyPlugin.dir/JUCE/modules/juce_gui_basics/juce_gui_basics.mm.o
build/CMakeFiles/MyPlugin.dir/JUCE/modules/juce_graphics/juce_graphics_Sheenbidi.c.o.d
build/CMakeFiles/MyPlugin.dir/JUCE/modules/juce_graphics/juce_graphics_Sheenbidi.c.o
build/CMakeFiles/MyPlugin.dir/JUCE/modules/juce_graphics/juce_graphics_Harfbuzz.cpp.o.d
build/CMakeFiles/MyPlugin.dir/JUCE/modules/juce_graphics/juce_graphics_Harfbuzz.cpp.o
build/CMakeFiles/MyPlugin.dir/JUCE/modules/juce_graphics/juce_graphics.mm.o.d
build/CMakeFiles/MyPlugin.dir/JUCE/modules/juce_graphics/juce_graphics.mm.o
build/CMakeFiles/MyPlugin.dir/JUCE/modules/juce_events/juce_events.mm.o.d
build/CMakeFiles/MyPlugin.dir/JUCE/modules/juce_events/juce_events.mm.o
build/CMakeFiles/MyPlugin.dir/JUCE/modules/juce_data_structures/juce_data_structures.mm.o.d
build/CMakeFiles/MyPlugin.dir/JUCE/modules/juce_data_structures/juce_data_structures.mm.o
build/CMakeFiles/MyPlugin.dir/JUCE/modules/juce_core/juce_core_CompilationTime.cpp.o.d
build/CMakeFiles/MyPlugin.dir/JUCE/modules/juce_core/juce_core_CompilationTime.cpp.o
build/CMakeFiles/MyPlugin.dir/JUCE/modules/juce_core/juce_core.mm.o.d
build/CMakeFiles/MyPlugin.dir/JUCE/modules/juce_core/juce_core.mm.o
build/CMakeFiles/MyPlugin.dir/JUCE/modules/juce_audio_utils/juce_audio_utils.mm.o.d
build/CMakeFiles/MyPlugin.dir/JUCE/modules/juce_audio_utils/juce_audio_utils.mm.o
build/CMakeFiles/MyPlugin.dir/JUCE/modules/juce_audio_processors/juce_audio_processors_lv2_libs.cpp.o.d
build/CMakeFiles/MyPlugin.dir/JUCE/modules/juce_audio_processors/juce_audio_processors_lv2_libs.cpp.o
build/CMakeFiles/MyPlugin.dir/JUCE/modules/juce_audio_processors/juce_audio_processors_ara.cpp.o.d
build/CMakeFiles/MyPlugin.dir/JUCE/modules/juce_audio_processors/juce_audio_processors_ara.cpp.o
build/CMakeFiles/MyPlugin.dir/JUCE/modules/juce_audio_processors/juce_audio_processors.mm.o.d
build/CMakeFiles/MyPlugin.dir/JUCE/modules/juce_audio_processors/juce_audio_processors.mm.o
build/CMakeFiles/MyPlugin.dir/JUCE/modules/juce_audio_formats/juce_audio_formats.mm.o.d
build/CMakeFiles/MyPlugin.dir/JUCE/modules/juce_audio_formats/juce_audio_formats.mm.o
build/CMakeFiles/MyPlugin.dir/JUCE/modules/juce_audio_devices/juce_audio_devices.mm.o.d
build/CMakeFiles/MyPlugin.dir/JUCE/modules/juce_audio_devices/juce_audio_devices.mm.o
build/CMakeFiles/MyPlugin.dir/JUCE/modules/juce_audio_basics/juce_audio_basics.mm.o.d
build/CMakeFiles/MyPlugin.dir/JUCE/modules/juce_audio_basics/juce_audio_basics.mm.o
build/CMakeFiles/MyPlugin.dir/flags.make
build/CMakeFiles/MyPlugin.dir/DependInfo.cmake
build/CMakeFiles/MyPlugin.dir/depend.make
build/CMakeFiles/MyPlugin.dir/compiler_depend.ts
build/CMakeFiles/MyPlugin.dir/compiler_depend.make
build/CMakeFiles/MyPlugin.dir/compiler_depend.internal
build/CMakeFiles/MyPlugin.dir/cmake_clean_target.cmake
build/CMakeFiles/MyPlugin.dir/cmake_clean.cmake
build/CMakeFiles/MyPlugin.dir/build.make
build/CMakeFiles/Makefile2
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/juce_vst3_helper.dir/progress.make
build/CMakeFiles/juce_vst3_helper.dir/link.txt
build/CMakeFiles/juce_vst3_helper.dir/JUCE/modules/juce_audio_plugin_client/VST3/juce_VST3ManifestHelper.mm.o.d
build/CMakeFiles/juce_vst3_helper.dir/JUCE/modules/juce_audio_plugin_client/VST3/juce_VST3ManifestHelper.mm.o
build/CMakeFiles/juce_vst3_helper.dir/flags.make
build/CMakeFiles/juce_vst3_helper.dir/DependInfo.cmake
build/CMakeFiles/juce_vst3_helper.dir/depend.make
build/CMakeFiles/juce_vst3_helper.dir/compiler_depend.ts
build/CMakeFiles/juce_vst3_helper.dir/compiler_depend.make
build/CMakeFiles/juce_vst3_helper.dir/compiler_depend.internal
build/CMakeFiles/juce_vst3_helper.dir/cmake_clean.cmake
build/CMakeFiles/juce_vst3_helper.dir/build.make
build/CMakeFiles/CMakeRuleHashes.txt
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/cmake.verify_globs
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/3.31.4/CompilerIdCXX/CMakeCXXCompilerId.o
build/CMakeFiles/3.31.4/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.31.4/CompilerIdC/CMakeCCompilerId.o
build/CMakeFiles/3.31.4/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.31.4/CMakeSystem.cmake
build/CMakeFiles/3.31.4/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.31.4/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.31.4/CMakeCXXCompiler.cmake
build/CMakeFiles/3.31.4/CMakeCCompiler.cmake
build/CMakeCache.txt
build/cmake_install.cmake
